@import './header.css';
@import './hero.css';
@import './press.css';
@import './transactions.css';
@import './why.css';
@import './sticky.css';
@import './button.css';
@import './smile.css';
@import './charts.css';

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
    padding-inline: 1rem;
}

body {
    margin: 0;
}

section {
    block-size: 500px;
    border: 1px solid red;
}

:root {
    font-size: 16px;
    --phoneIlineSize:400px;
    --gridTemplateColumns:1fr var(--phoneIlineSize) 1000px 1fr;
    --primary: #fed941; 
    --white: #ffffff; 
    --grey: #808080; 
    --black: #000000; 
    --headline3: 800 2.875rem/3.5rem Inter; 
    --headline2: 700 3rem/3.625rem Inter; 
    --headline4: 700 1.75rem/normal Inter; 
    --headline5: 700 1.5625rem/normal Inter; 
    --button: 700 1.125rem/1.75rem Inter; 
    --caption: 400 0.75rem/1.375rem Inter; 
    --body1-regular: 400 1.125rem/1.6875rem Inter; 
    --body1-bold: 700 1.125rem/1.6875rem Inter; 
    --body2-regular: 400 1rem/1.375rem Inter; 
    --body2-bold: 700 1rem/1.1875rem Inter;
}

.grid {
    display: grid;
    grid-template-columns: var(--gridTemplateColumns);
    grid-template-areas: 'wrapper-start phone content wrapper-end';
}

@media screen and (max-width:1400px) {
    :root {
        --phoneIlineSize:400px;
        --gridTemplateColumns: auto var(--phoneIlineSize) 1fr auto;
        /* grid-template-areas: ' phone content '; */
    }
}

@media screen and (max-width:1000px) {
    :root {
        --phoneBlockSize:500px;
        --gridTemplateColumns:auto auto 1fr auto;
        /* grid-template-areas: ' phone content '; */
    }
    .grid {
        display: block;
    }

    .hero{
        block-size: auto;
        padding-block: 50px;
        grid-row-start: initial;
    }

    .press {
        grid-row-start: initial;
    } 

    .hero-content {
        display: initial;
       
    }

    .hero {
        padding-block-end: calc(var(--phoneBlockSize)/2 + 3rem);
    }
    .sticky{
        position: initial;
        grid-area: initial !important;
        grid-column: 1/-1;
        text-align: center;
        /* transform: translateY(-50%); */
        margin-block-start: -50%;
        margin-block-start: calc(var(--phoneBlockSize)/2*-1);
        block-size: var(--phoneBlockSize);
        background-image: linear-gradient(to bottom, #000000 0%,#000000 50%,#deb887 50%,#deb887);
    }
    .sticky img{
        max-block-size: 100%;
    }
}

.sticky {
    grid-area: phone;
}



.grid section {
    grid-column: 1 / -1;
}


.inset-grid {
    display: grid;
    grid-template-columns: var(--gridTemplateColumns);
    grid-template-areas: '. . content .';
}

.inset-grid [class*="content"] {
    grid-area: content;
}